<div class="row z-depth-6 card-panel">
    <form class="col s12" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate"  formControlName="email" >
                    <label for="email">Email</label>
                </div>
            </div>           
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate"  formControlName="password" >
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn-small waves-effect waves-light" type="submit" [disabled]="!loginForm.valid"  >Login</button>
    </form>
    <p *ngIf="!success" class="red-text center-align" >Error de inicio de sessión</p>
</div>            
